.body {
  background-color: #B0B0B0 !important;
}

.input-form {
  background-image: url("brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
}

.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-content: center;
}

.topnav a :first-child {
  float: right !important; 
}

.topnav a:hover {
  background-color: #707070;
  color: black;
}

.topnav a.active {
  background-color: #ffff00;
  color: black;
}

