.input-form {
 background-color: #B0B0B0 !important;
 width: 100% !important;
}

.input {
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    box-sizing: border-box !important;
    display: inline-block !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
      :focus {
        border: 3px solid #555 !important;
      }
 }

.topnav {
  overflow: hidden;
  background-color: #000;
  position: fixed !important;
  width: 100% !important;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-content: center;
}

.topnav a:hover {
  background-color: #707070;
  color: black;
}

.topnav a.active {
  background-color: #ffff00;
  color: black;
}

.about-text {
 background-color: #ffff00;
 padding-bottom: 30px;
 padding-right: 16px;
 padding-left: 16px;
}
